body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
br,
hr,
table,
tr,
td,
dl,
dt,
dd,
form {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, "微软雅黑";
	font-size: 12px;
	color: #434343;
}
.clearfix:after{/*伪元素是行内元素 正常浏览器清除浮动方法*/
	content: "";
	display: block;
	height: 0;
	clear:both;
	visibility: hidden;
}
.clearfix{
	*zoom: 1;/*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}
ul,
li {
	list-style: none;
}
img {
	display: block;
	border: none;
}
a {
	text-decoration: none;
}
